{% extends 'header-footer.html' %}
{% load static %}
{% block content %}

<script src="{% static 'assets/js/page/index2.js' %}"></script>
<script src="{% static 'assets/bundles/chartjs/chart.min.js' %}"></script>
<script src="{% static 'assets/bundles/apexcharts/apexcharts.min.js' %}"></script>



      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
						<div class="row"> 
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
								<div class="section-header-breadcrumb-content">
									<h1>Dashboard</h1>
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
								<div class="section-header-breadcrumb-chart float-right">
									
								
									
								</div>
							</div>
						</div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="card card-sales-widget card-bg-blue-gradient">
                <div class="card-icon shadow-primary bg-blue">
                  <i class="fas fa-user-plus"></i>
                </div>
                <div class="card-wrap pull-right">
                  <div class="card-header">
                    <h3>{{user}}</h3>
                    <h4>New Clients</h4>
                  </div>
                </div>
                <div class="card-chart">
                  <div id="chart-1"></div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="card card-sales-widget card-bg-yellow-gradient">
                <div class="card-icon shadow-primary bg-warning">
                  <i class="fas fa-drafting-compass"></i>
                </div>
                <div class="card-wrap pull-right">
                  <div class="card-header">
                    <h3>{{order}}</h3>
                    <h4>Total Orders</h4>
                  </div>
                </div>
                <div class="card-chart">
                  <div id="chart-2"></div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="card card-sales-widget card-bg-orange-gradient">
                <div class="card-icon shadow-primary bg-hibiscus">
                  <i class="fas fa-shopping-cart"></i>
                </div>
                <div class="card-wrap pull-right">
                  <div class="card-header">
                    <h3>{{order_item}}</h3>
                    <h4>Total order items</h4>
                  </div>
                </div>
                <div class="card-chart">
                  <div id="chart-3"></div>
                </div>
              </div>
            </div>
            


            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="card card-sales-widget card-bg-green-gradient">
                <div class="card-icon shadow-primary bg-green">
                  <i class="fas fa-dollar-sign"></i>
                </div>
                <div class="card-wrap pull-right">
                  <div class="card-header">
                    <h3>{{product}}</h3>
                    <h4>Total Products</h4>
                  </div>
                </div>
                <div class="card-chart">
                  <div id="chart-4"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 col-md-12 col-12 col-sm-12">
              <div class="card">
                <div class="card-header">
                  <h4>Monthly Earning</h4>
                </div>
                <div class="card-body" >
                  
					{% include 'base.html' %}

          <script>
            {% block jquery %}

            var endpoint = '/api/chart/data/'
            var defaultData = []
            var labels = [];
            $.ajax({
              method: "GET",
              url: endpoint,
              success: function(data) {
                labels = data.labels
                defaultData = data.default
                setChart()
              },
              error: function(error_data) {
                console.log("error")
                console.log(error_data)
              }
            })

            function setChart() {
              var ctx = document.getElementById("myChart");
              var ctx2 = document.getElementById("myChart2");
              var myChart = new Chart(ctx2, {
                type: 'bar',
                data: {
                  labels: labels,
                  datasets: [{
                    label: 'Total Appointment',
                    data: defaultData,
                    backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                      'rgba(255,99,132,1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                  }]
                },
                options: {
                  scales: {
                    yAxes: [{
                      ticks: {
                        beginAtZero: true
                      }
                    }]
                  }
                }
              });

              var myChart = new Chart(ctx, {
                type: 'polarArea',
                data: {
                  labels: labels,
                  datasets: [{
                    label: '# of Votes',
                    data: defaultData,
                    backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                      'rgba(255,99,132,1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                  }]
                },
                options: {
                  scales: {
                    yAxes: [{
                      ticks: {
                        beginAtZero: true
                      }
                    }]
                  }
                }
              });
            }
            // var ctx = document.getElementById("myChart");



            {%endblock%}
          </script>
                </div>
              </div>
            </div>
            
          </div>

          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="card">
                <div class="card-header">
                  <h4>users Detail</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <tr>
                        <th>#</th>
                        <th>first Name</th>
                        <th>Last Name</th>
                        <th>E-mail</th>
                        
                        <th>Mobile</th>
                        <th>Birth Date</th>
                        <th>Area</th>
                        
                      </tr>
                      
                      {% for i in u %}
                          <tr>
                            <td>{{i.users_id}}</td>
                            <td>{{i.first_name}}</td>
                            <td>{{i.last_name}}</td>
                            <td>{{i.users_email}}</td>
                            
                            <td>{{i.mobile_no }}</td>
                            <td>{{i.birth_of_date }}</td>
                            <td>{{i.areas_id.areas_name}}</td>
                            
                            
                          </tr>
                      {% endfor %}
                        

                    </table>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          
              
            
          </div>
          
          </section>

          
          {% endblock %}
