{% extends 'header-footer.html' %}
{% load static %}
{% block content %}
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
						<div class="row">
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
								<div class="section-header-breadcrumb-content">
									<h1>Product Table</h1>
                  <div class="section-header-breadcrumb">
                    <div class="breadcrumb-item active"><a href="#"><i class="fas fa-home"></i></a></div>
                    <div class="breadcrumb-item"><a href="#">Table</a></div>
                    <div class="breadcrumb-item"><a href="#">Product Table</a></div>
                  </div>
								</div>
							</div>
						</div>
					</div>
          <div class="section-body">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h4>Product Table</h4>
                  </div>
                  <a href="/insert-product"> <button  type="submit" class="btn btn-primary"  style="width:30%; display:block; margin: auto;">Add  Products</button> </a>
                  <div class="card-body">
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-striped table-hover" id="tableExport" style="width:100%;">
                        <thead>
                          <tr>
                            <th>id</th>
                            <th>Name</th>
                            <th>Image</th>
                            <th>price</th>
                            <th>Quantity</th>
                            <th>Description</th>
                            <th>Sub categorys Name</th>
                            <th> Delete </th>
                            <th>Edit</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for i in product %}
                          <tr>
                            <td>{{ i.products_id}}</td>
                            <td>{{i.products_name}}</td>
                            <td><img src="{% static '/image/'%}{{i.products_image}}" width="220px" /> </td>
                            <td>{{i.products_price}}</td>
                            <td>{{i.products_quantity}}</td>
                            <td>{{i.products_description}}</td>
                            <td>{{i.sub_categorys_id.sub_categorys_name}}</td> 
                            <td>
                              <a href="/delete-product/{{i.products_id}}"><img src="{% static 'assets/img/delete.jpg' %}" width="25"> </a>
                           </td>
                           <td>
                            <a class="fas fa-pencil-alt" href="/edit-product/{{ i.products_id }}"> </a>
                           </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        {% endblock %}