{% extends 'header-footer.html' %}
{% load static %}
{% block content %}


      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
						<div class="row">
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
								<div class="section-header-breadcrumb-content">
									<h1>Product Forms</h1>
                  <div class="section-header-breadcrumb">
                    <div class="breadcrumb-item active"><a href="#"><i class="fas fa-home"></i></a></div>
                    <div class="breadcrumb-item"><a href="#"> Product </a></div>
                    <div class="breadcrumb-item"><a href="#"> Forms</a></div>
                  </div>
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
								
							</div>
						</div>
					</div>
          <div class="section-body">
            <form name="forms"  action="/update_gallery/{{g.gallerys_id}}"  method="POST" enctype="multipart/form-data" >
              {% csrf_token %}
            <div class="row">
                
              <div class="col-12 col-md-10 col-lg-12">
                <div class="card">
                  <div class="card-header">
                    <h4>Edit Gallerys </h4>
                  </div>
                  <div class="card-body">
                    <!-- <div class="form-group">
                      <label> Product Name</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fas fa-id-card"></i>
                          </div>
                        </div>
                      </div>
                    </div> -->
                    <div class="form-group">
                      <label> Product Image</label>
                      <img src="{% static '/image/'%}{{g.images}}" height="200" width="200" name="output" id="output"/>
                        <input type="file" name="images" id="g_path" onchange="loadfile(event)" accept="image/*" class="form-control phone-number">
                    </div>
                   

                    <div class="form-group">
                      <label> Select product</label>
                      <select name = "products_id" class="form-control selectric">
                        {% for j in p%}
                        <option value="{{j.products_id}}" {% if j.products_id == g.products_id.products_id %} selected {% endif %}  >{{j.products_name}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    
                    

                    <script>
                      function loadfile(event){
                        document.getElementById('output').src=URL.createObjectURL(event.target.files[0])
                      }
 
                    </script>

                  </div>
                  <input type="submit" value="update" class="btn btn-primary"></input>
                </div>
                
                

              
            </div>
          </form>
          </div>
        </section>
        {% endblock %}