{% extends 'c-header-footer.html' %}
{% load static %}
{% block conten %}
    <!--=============================================
    =            Login Register page content         =
    =============================================-->

    <main class="page-section pb--10 pt--50">
		<div class="container">
			<header class="entry-header">
				
			</header>
			<div class="row">
				
				<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 mb-30">
					
					<!-- Login Form s-->
					<form method="POST" action="/client/login/" data-parsley-validate="">
            {% csrf_token %}
						<h4 class="login-title">Login</h4>
						<div class="login-form">
							<div class="row">
								<div class="col-md-12 col-12 mb--20">
									<label> Email address *</label>
									<input class="mb-0" name="email" type="email" data-parsley-required="true" data-parsley-required-message="This field is required">
								</div>
								<div class="col-12 mb--20">
									<label>Password</label>
									<input class="mb-0" name="password" type="password" data-parsley-required="true" data-parsley-required-message="This field is required" >
								</div>
								<div class="col-md-12">
									<div class="d-flex align-items-center flex-wrap">
										<input type="submit"value="Login" style="background: black;"  
                    class="btn btn-black   mr-3"></input>

					
  
										<!-- <div class="d-inline-flex align-items-center">
											<input type="checkbox" id="accept_terms" class="mb-0 mr-1">
											<label for="accept_terms" class="mb-0 font-weight-400">Remember Me</label>
										</div> -->
									</div>
									<span >
										{% for data in messages%}
										 <p style="color : red;">
										  {{ data }}
										 </p>
				  
										{% endfor %}
									  </span>
									<p><a href="/client/forgot/" class="pass-lost mt-3">Lost your password?</a></p>
									<a href="#" class="btn btn-black">Register</a>
								</div>

							</div>
						</div>

					</form>
				</div>
				
			</div>
		</div>
	</main>

	<!--=====  End of Login Register page content  ======-->
  
  {% endblock %}
   