{% extends 'c-header-footer.html' %}
{% load static %}
{% block conten %}
    <!--=============================================
    =            Forgot page content         =
    =============================================-->

    <main class="page-section pb--10 pt--50">
		<div class="container">
			<header class="entry-header">
				
			</header>
			<div class="row">
				
				<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 mb-30">
					
					<!-- Login Form s-->
					<form method="POST" action="/client/c-set/" >
            {% csrf_token %}
						<h4 class="login-title"> set new password </h4>
						<div class="login-form">

							<span >
								{% for data in messages%}
								 <p style="color : red;">
								  {{ data }}
								 </p>
				
								{% endfor %}
							  </span>

							<div class="row">
								<div class="col-md-12 col-12 mb--20">
									<label>Enter OTP *</label>
									<input class="mb-0" name="otp" type="text" >
								</div>
								<div class="col-md-12 col-12 mb--20">
									<label>Enter new Password</label>
									<input class="mb-0" name="npass" type="password" >
								</div>
								<div class="col-md-12 col-12 mb--20">
									<label>Enter confirm Password</label>
									<input class="mb-0" name="cpass" type="password" >
								</div>
								
								<div class="col-md-12">
									<div class="d-flex align-items-center flex-wrap">
										<input type="submit"value="Login" style="background: black;"  
                    class="btn btn-black   mr-3"></input>

					
  
										
									</div>
									
								</div>

							</div>
						</div>

					</form>
				</div>
				
			</div>
		</div>
	</main>

	<!--=====  End of Login Register page content  ======-->
  
  {% endblock %}
   