{% extends 'c-header-footer.html' %}
{% load static %}
{% block conten %}


<nav aria-label="breadcrumb" class="breadcrumb-wrapper">
	<div class="container">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="index.html">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">My Account</li>
		</ol>
	</div>
</nav>

 <div class="page-section sp-inner-page">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="row">
						<!-- My Account Tab Menu Start -->
						<div class="col-lg-12 col-12">



							<div >
								<div >
									<h3>Account Details</h3>

									<div class="account-details-form">
										<form action="/client/update_c_profile/" method="POST">
											{% csrf_token %}
											<div class="row">
												<div class="col-lg-6 col-12 mb-30">
													<input id="first-name"  name="first_name" value="{{u.first_name}}" type="text">
												</div>

												<div class="col-lg-6 col-12 mb-30">
													<input id="last-name" name="last_name" value="{{u.last_name}}" type="text">
												</div>


												<div class="col-12 mb-30">
													<input id="email" name="users_email" value="{{u.users_email}}" type="email">
												</div>
												   
												<input type="submit" value="SAVE CHANGES" class="btn btn-black">
											</div>											
										</form>
										<form action="/client/pass_change/" method="POST">
											{% csrf_token %}	
											<div class="row"></div>

												<div class="col-12 mb-30"><h4>Password change</h4></div>
										
												<span >
													{% for data in messages%}
													 <p style="color : red;">
													  {{ data }}
													 </p>
									
													{% endfor %}
												  </span>

												<div class="col-12 mb-30">
													<label> Current Password </label>
													<input id="current-pwd" name="current" type="password">
												</div>

												<div class="col-12 mb-30">
													<label> New Password </label>
													<input id="new-pwd" name="npass" type="password">
												</div>

												<div class="col-12 mb-30">
													<label> Confirm Password </label>
													<input id="confirm-pwd" name="cpass" type="password">
												</div>

												<div class="col-12">
													<input type="submit" value="CHANGE Password" class="btn btn-black">
												</div>

											</div>
										</form>
									</div>
								</div>
							</div>




							<!-- <div class="myaccount-tab-menu nav" role="tablist">
								<a href="#dashboad" class="active" data-toggle="tab"><i class="fas fa-tachometer-alt"></i>
									Dashboard</a>

								<a href="#orders" data-toggle="tab"><i class="fa fa-cart-arrow-down"></i> Orders</a>

								<a href="#download" data-toggle="tab"><i class="fas fa-download"></i> Download</a>

								<a href="#payment-method" data-toggle="tab"><i class="fa fa-credit-card"></i> Payment
									Method</a>

								<a href="#address-edit" data-toggle="tab"><i class="fa fa-map-marker"></i> address</a>

								<a href="#account-info" data-toggle="tab"><i class="fa fa-user"></i> Account Details</a>

								<a href="login-register.html"><i class="fas fa-sign-out-alt"></i> Logout</a>
							</div> -->
						</div>
						<!-- My Account Tab Menu End -->

						<!-- My Account Tab Content Start -->
						<div class="col-lg-9 col-12 mt--30 mt-lg-0">
							<!-- <div class="tab-content" id="myaccountContent"> -->
								<!-- Single Tab Content Start -->
								<!-- <div class="tab-pane fade show active" id="dashboad" role="tabpanel"> -->
										<!-- <div class="myaccount-content">
											<h3>Dashboard</h3>

											<div class="welcome mb-20">
												<p>Hello, <strong>Alex Tuntuni</strong> (If Not <strong>Tuntuni !</strong><a href="login-register.html" class="logout"> Logout</a>)</p>
											</div>

											<p class="mb-0">From your account dashboard. you can easily check &amp; view your
												recent orders, manage your shipping and billing addresses and edit your
												password and account details.</p>
										</div> -->
								<!-- </div> -->
								<!-- Single Tab Content End -->

								<!-- Single Tab Content Start -->
								
								<!-- Single Tab Content End -->

								<!-- Single Tab Content Start -->
								
								<!-- Single Tab Content End -->

								<!-- Single Tab Content Start -->
								<!-- Single Tab Content End -->

								<!-- Single Tab Content Start -->
								
								<!-- Single Tab Content End -->
							<!-- </div> -->
						</div>
						<!-- My Account Tab Content End -->
					</div>

				</div>
			</div>
		</div>
    </div>
  
	{% endblock %}  